@using ITransitionProject.ViewModels
@model IEnumerable<UserCollectionsViewModel>

<h2>Коллекции</h2>
<form method="get">
    <input type="hidden" name="userId" value="@ViewBag.userId" />
    <button class="btn btn-primary" asp-controller="Collections" asp-action="AddCollection" name="userId" value="@ViewBag.userId">Добавить</button>    
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Тема</th>
            <th>Краткое описание</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @if (Model != null)
            foreach (UserCollectionsViewModel pair in Model)
            {
                <tr>
                    <td>@pair.Collection.Name</td>
                    <td>@pair.Theme</td>
                    <td>@pair.Collection.briefDesc</td>
                    <td><button class="btn btn-primary" asp-action="ViewCollection" name="collectionId" value="@pair.Collection.Id">Просмотреть</button></td>
                    <td><button class="btn" style="color: blueviolet" asp-action="EditCollection" name="collectionId" value="@pair.Collection.Id">Редактировать</button></td>
                    @*<td><a href="#" class="btn btn-danger" data-toggle="modal" data-target="#ApproveModal">Удалить</a></td>*@ @*asp-controller="" asp-action="" name="colId" value="@col.Id"*@
                    <td><button class="btn btn-danger" asp-action="DeleteCollection" formmethod="post" name="collectionId" value="@pair.Collection.Id">Удалить</button></td>
                </tr>
            }
    </table>
</form>

<div id="ApproveModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Вы уверены, что хотите удалить коллекцию?</h4>
            </div>
        </div>
    </div>
</div>


