@using ITransitionProject.ViewModels
@model IEnumerable<UserCollectionsViewModel>

<form role="form" method="post" asp-action="UserCollection">
    <input type="hidden" name="userId" value="@ViewBag.userId" />
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Тема</th>
            <th></th>
        </tr>
        @{
            if (Model != null)
                foreach (UserCollectionsViewModel pair in Model)
                {
                    <tr>
                        <td>@pair.Collection.Name</td>
                        <td>@pair.Theme</td>
                        @if (!string.IsNullOrEmpty(pair.Collection.imgUrl))
                        {
                            <td><img src="@pair.Collection.imgUrl" class="img-fluid" /></td>
                        }                   
                        <td><button class="btn btn-primary" name="collectionId" value="@pair.Collection.Id">Просмотреть</button></td>
                    </tr>
                }
        }
    </table>
</form>
