@model ITransitionProject.ViewModels.EditCollectionItemsViewModel

<h2>@Model.CollectionName: @Model.CollectionTheme.</h2>
<br />
<form role="form" method="get">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <input type="hidden" name="collectionId" value="@Model.CollectionId" />
    <input type="hidden" name="CollectionName" value="@Model.CollectionName" />
    <input type="hidden" name="CollectionTheme" value="@Model.CollectionTheme" />
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Дополнительные поля: @ViewBag.AdditionalFieldsNames</th>
            <th></th>
        </tr>
        @{
            if (Model != null)
                foreach (Item item in Model.Items)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td></td>
                        <td><button asp-controller="Items" asp-action="ViewItem" class="btn btn-primary" name="itemId" value="@item.Id">Просмотреть</button></td>
                    </tr>
                }
        }
    </table>
</form>
